<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Landscapes</title>
    <meta description='Main Page for Landscapes, a random routing practice App'
    <meta charset='utf-8'/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'randomrouting/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'randomrouting/style.css' %}">
    <link rel="shortcut icon" href="{% static 'ninjas/favicon.ico' %}">
</head>
<body>
    <div id='wrapper'>
        <h1>Welcome!</h1>
        <h3>Enter any number 1 - 50 as a url</h3>
        <h3>parameter, for example "/32"</h3>
        <br>
        <p><strong>Instruction:</strong> You will be updating the URL path in your browser<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;appending "/32", ie: http://127.0.0.1:8000/32. Enjoy!</p>
    </div>
</body>
<footer>
    <p>by Troy Center, Coding Dojo May 22, 2017 Cohort, Seattle.</p>
</footer>
</html>